body {
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 41, 46);
    width: 800px;
    margin: auto;
}

#any {
    width: 50%;
}

datalist {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    width: 50%;
}

.row {
    display: flex;
}

#salari-input {
    flex: 50%;
}

#any-input {
    flex: 35%;
    margin-right: 20px;
}


#mapa {
    height: 560px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: black;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}